In [1]:
import pandas as pd

In [10]:
Lin_Reg=pd.read_csv("Linear Regression - Sheet1.csv")

In [11]:
print(Lin_Reg)

       X           Y
0      1    3.888889
1      2    4.555556
2      3    5.222222
3      4    5.888889
4      5    6.555556
..   ...         ...
295  296  200.555556
296  297  201.222222
297  298  201.888889
298  299    1.888889
299  300    1.888889

[300 rows x 2 columns]

In [13]:
Classification=pd.read_csv("train.csv")

In [14]:
print(Classification)

       age  workclass  fnlwgt     education  educational-num  \
0       67    Private  366425     Doctorate               16
1       17    Private  244602          12th                8
2       31    Private  174201     Bachelors               13
3       58  State-gov  110199       7th-8th                4
4       25  State-gov  149248  Some-college               10
...    ...        ...     ...           ...              ...
43952   52    Private   68982     Bachelors               13
43953   19    Private  116562       HS-grad                9
43954   30    Private  197947  Some-college               10
43955   46    Private   97883     Bachelors               13
43956   30    Private  375827       HS-grad                9

           marital-status         occupation    relationship   race  gender  \
0                Divorced    Exec-managerial   Not-in-family  White    Male
1           Never-married      Other-service       Own-child  White    Male
2      Married-civ-spouse    Exec-managerial         Husband  White    Male
3      Married-civ-spouse   Transport-moving         Husband  White    Male
4           Never-married      Other-service   Not-in-family  Black    Male
...                   ...                ...             ...    ...     ...
43952  Married-civ-spouse    Exec-managerial         Husband  White    Male
43953       Never-married      Other-service       Own-child  White  Female
43954            Divorced              Sales   Not-in-family  White    Male
43955       Never-married              Sales   Not-in-family  White  Female
43956       Never-married  Handlers-cleaners  Other-relative  White    Male

       capital-gain  capital-loss  hours-per-week native-country  income_>50K
0             99999             0              60  United-States            1
1                 0             0              15  United-States            0
2                 0             0              40  United-States            1
3                 0             0              40  United-States            0
4                 0             0              40  United-States            0
...             ...           ...             ...            ...          ...
43952             0             0              50  United-States            1
43953             0             0              40  United-States            0
43954             0             0              58  United-States            0
43955             0             0              35  United-States            0
43956             0             0              40  United-States            0

[43957 rows x 15 columns]

In [26]:
y=Classification["income_>50K"]
x=Classification["age"]
import matplotlib.pyplot as plt

In [27]:
print(x)

0        67
1        17
2        31
3        58
4        25
         ..
43952    52
43953    19
43954    30
43955    46
43956    30
Name: age, Length: 43957, dtype: int64

In [1]:
plt.bar(x,y)
plt.xlabel('Fiscal Year') #xlabel
plt.ylabel('Public Sector Employees') #ylabel
plt.title('Public vs Private employees count rise with raise in population')
plt.show()

NameError: name 'plt' is not defined

In [2]:
import pandas as pd

In [3]:
iris=pd.read_csv("IRIS.csv")
print(iris)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
print(iris.head)

<bound method NDFrame.head of      sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]>