In [ ]:
"Task 1"

Gone through the basic inbuild methods

In [45]:
"Task 2"

# task 2) 
# given a string for example
str1 = "Welcome to python"

# check if "to" is present in "welcome to python"


str2= "Welcome to python"

if "to" in str2:
    print(True)

True

In [5]:
#List operations 
#"TASK 3.1"


# append() method
Trains=["palnadu","sabari","janmabhoomi"]
Trains.append("Narayanadri")
print(Trains)

['palnadu', 'sabari', 'janmabhoomi', 'Narayanadri']

In [6]:
# clear() method
Trains.clear()
print(Trains)

[]

In [9]:
#copy() it dont take arguments inside
capitals=['Vizag','Amaravati','Kurnool','Guntur','Vijayawada']
two=[]
two=capitals.copy()
print(two)

['Vizag', 'Amaravati', 'Kurnool', 'Guntur', 'Vijayawada']

In [10]:
#count
marks=[57,94,35,67,89,23,94]
print(marks.count(94))

2

In [2]:
#extend()
# extends (list, set, tuple, etc.) into the original list

lis =["Python", "R", 1,4]
dict={"python":1, "java":2} #only dictionary keys getting extended into list.
lis.extend(dict)
print(lis)

['Python', 'R', 1, 4, 'python', 'java']

In [7]:
zones=['SCR', 'SCoR', 'SR', 'ER']
a=zones.index('SCoR')
print(a)

1

In [8]:
zones.pop(3)
print(zones)

['SCR', 'SCoR', 'SR']

In [9]:
zones.insert(2, 9)
print(zones)

['SCR', 'SCoR', 9, 'SR']

In [10]:
zones.remove(9)
print(zones)

['SCR', 'SCoR', 'SR']

In [11]:
zones.reverse()
print(zones)

['SR', 'SCoR', 'SCR']

In [12]:
zones.sort()
print(zones)

['SCR', 'SCoR', 'SR']

In [ ]:

"Task 3.2"
" create a list of lenght = 10 and access 5th to 8th data."

In [46]:
lis=["Vizag",1,"Vijayawada",2,"Guntur",3,"Tirupati",4,"Kakinada",5]

print(lis[5])
print(lis[6])
print(lis[7])
print(lis[8])
print(lis[5:9])

3
Tirupati
4
Kakinada
[3, 'Tirupati', 4, 'Kakinada']

In [ ]:


"Task-4"
"2 problems!"

In [30]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
l1[2][2]=[50,60,70]
print(l1)

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [32]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
l2[2]=[3,4,5,6,[7,8]]
print(l2)

[1, 2, [3, 4, 5, 6, [7, 8]], 9]

In [ ]:



"Task-5"

dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
From the above dictionary, do the following tasks

access "Mike"
access 80
change "Mike" to "Your name"
add ML = 80 and DL = 80 inside marks

In [40]:
dict1 = { `
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}
k=dict1["april_batch"]["student"]["name"]
l=dict1["april_batch"]["student"]["marks"]["python"]
dict1["april_batch"]["student"]["name"]="Vinay"
dict1["april_batch"]["student"]["marks"]["ML"]=80
dict1["april_batch"]["student"]["marks"]["DS"]=80
print(k,l, dict1)

Mike 80 {'april_batch': {'student': {'name': 'Vinay', 'marks': {'python': 80, 'maths': 70, 'ML': 80, 'DS': 80}}}}

In [ ]:




"Task6 - Add and remove the elements from a tuple."

In [41]:
tup=(76,89,54,88,94)
lis=list(tup)
lis.append(90)
tup2=tuple(lis)
print(tup2)

(76, 89, 54, 88, 94, 90)

In [42]:
lis2=list(tup2)
lis2.remove(54)
tup3=tuple(lis2)
print(tup3)

(76, 89, 88, 94, 90)

In [ ]:



"Task7 - 
go through other inbuilt methods like"
1) difference() 2) symmetric_difference()

In [43]:
abc={1,3,4,68,45}
xyz={3,45,6,0,65}
k=abc.difference(xyz)
print(k)

{1, 4, 68}

In [44]:
abc={1,3,4,68,45}
xyz={3,45,6,0,65}
l=abc.symmetric_difference(xyz)
print(l)

{0, 65, 1, 4, 68, 6}