In [6]:
! pip install pandas
! pip install numpy

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Requirement already satisfied: numpy in c:\users\admin\anaconda3\lib\site-packages (1.18.5)

In [7]:
import pandas as pd
import numpy as np

In [10]:
#Creating series

new_var=np.array([1,2,3,'a'])  # creating a new numpy variable

pd.Series(new_var) # creating series using pandas

0    1
1    2
2    3
3    a
dtype: object

In [14]:
# Data Frame

name=["Vinay", "Sathvik","Bhanu","Madhu", "Divya", "Chandu"] # created a list of names

age=[22,52,12,30,50,60]  # created a list of ages

d={"Name":name , "Age":age}  #created a dictionary d with keys as "Name & "Age" and values as those lists created above

print(d)
print("")
# DataFrame syntax
df=pd.DataFrame(d) # we needto pass the dictionary,that's why created it above.
print(df)

{'Name': ['Vinay', 'Sathvik', 'Bhanu', 'Madhu', 'Divya', 'Chandu'], 'Age': [22, 52, 12, 30, 50, 60]}

      Name  Age
0    Vinay   22
1  Sathvik   52
2    Bhanu   12
3    Madhu   30
4    Divya   50
5   Chandu   60

In [16]:
print(df['Name'])  #when we wants to access the column called "Name"
print("")

print(df["Age"])

0      Vinay
1    Sathvik
2      Bhanu
3      Madhu
4      Divya
5     Chandu
Name: Name, dtype: object

0    22
1    52
2    12
3    30
4    50
5    60
Name: Age, dtype: int64

In [17]:
indexes=["Rank1", "Rank2", "Rank3", "Rank4", "Rank5", "Rank6" ]
df=pd.DataFrame(d, index=indexes)
print(df)

          Name  Age
Rank1    Vinay   22
Rank2  Sathvik   52
Rank3    Bhanu   12
Rank4    Madhu   30
Rank5    Divya   50
Rank6   Chandu   60

In [18]:
city=["Dachepalli", "Warangal", "Khammam", "Guntur", "Hyderabad", "Hyderabad"]

df["City"]=city

print(df)

          Name  Age        City
Rank1    Vinay   22  Dachepalli
Rank2  Sathvik   52    Warangal
Rank3    Bhanu   12     Khammam
Rank4    Madhu   30      Guntur
Rank5    Divya   50   Hyderabad
Rank6   Chandu   60   Hyderabad

In [19]:
profession=["Data Scientist", "Doctor", "Software developer", "Manager", "Astronut", "Entrepreneur"]
df["Profession"]=profession

print(df)

          Name  Age        City          Profession
Rank1    Vinay   22  Dachepalli      Data Scientist
Rank2  Sathvik   52    Warangal              Doctor
Rank3    Bhanu   12     Khammam  Software developer
Rank4    Madhu   30      Guntur             Manager
Rank5    Divya   50   Hyderabad            Astronut
Rank6   Chandu   60   Hyderabad        Entrepreneur

In [3]:
import pandas as pd
jobs=pd.read_csv("Employment.csv")
print(jobs.to_string())

   Fiscal Year  Public Sector Employees (million)  Private Sector Employees (million)  No. of Emp. on Live Reg. (million)  Population (million) Prompts_Time
0   1970-71                                 11.10                                6.73                                5.10                 541.0   1970-71
1   1971-72                                 11.69                                6.96                                6.90                 554.0   1971-72
2   1972-73                                 12.40                                6.72                                8.22                 567.0   1972-73
3   1973-74                                 12.73                                6.75                                8.43                 580.0   1973-74
4   1974-75                                 13.13                                6.79                                9.33                 593.0   1974-75
5   1975-76                                 13.63                                6.79                                9.78                 607.0   1975-76
6   1976-77                                 14.18                                6.95                               10.92                 620.0   1976-77
7   1977-78                                 14.73                                7.11                               12.68                 634.0   1977-78
8   1978-79                                 15.58                                7.23                               14.33                 648.0   1978-79
9   1979-80                                 15.12                                7.24                               16.20                 664.0   1979-80
10  1980-81                                 15.48                                7.40                               17.84                 679.0   1980-81
11  1981-82                                 16.28                                7.53                               19.75                 692.0   1981-82
12  1982-83                                 16.75                                7.39                               21.95                 708.0   1982-83
13  1983-84                                 17.22                                7.36                               23.55                 723.0   1983-84
14  1984-85                                 17.58                                7.43                               26.27                 739.0   1984-85
15  1985-86                                 17.68                                7.37                               30.13                 755.0   1985-86
16  1986-87                                 18.24                                7.39                               30.25                 771.0   1986-87
17  1987-88                                 18.32                                7.39                               30.05                 788.0   1987-88
18  1988-89                                 18.51                                7.45                               32.78                 805.0   1988-89
19  1989-90                                 18.77                                7.58                               34.63                 822.0   1989-90
20  1990-91                                 19.06                                7.68                               36.30                 839.0   1990-91
21  1991-92                                 19.21                                7.85                               36.76                 856.0   1991-92
22  1992-93                                 19.33                                7.85                               36.28                 872.0   1992-93
23  1993-94                                 19.45                                7.93                               36.69                 892.0   1993-94
24  1994-95                                 19.47                                8.06                               36.74                 910.0   1994-95
25  1995-96                                 19.43                                8.51                               37.43                 928.0   1995-96
26  1996-97                                 19.56                                8.69                               39.14                 946.0   1996-97
27  1997-98                                 19.42                                8.75                               40.09                 964.0   1997-98
28  1998-99                                 19.41                                8.70                               40.37                 983.0   1998-99
29  1999-00                                 19.31                                8.65                               41.34                1001.0   1999-00
30  2000-01                                 19.14                                8.65                               42.00                1019.0   2000-01
31  2001-02                                 18.77                                8.43                               41.17                1040.0   2001-02
32  2002-03                                 18.58                                8.42                               41.39                1056.0   2002-03
33  2003-04                                 18.20                                8.25                               40.46                1072.0   2003-04
34  2004-05                                 18.01                                8.45                               39.35                1106.0   2004-05
35  2005-06                                 18.19                                8.77                               41.47                1106.0   2005-06
36  2006-07                                 18.00                                9.24                               39.97                   NaN   2006-07
37  2007-08                                 17.67                                9.88                               39.11                   NaN   2007-08
38  2009-10                                 17.86                               10.85                               38.83                   NaN   2009-10
39  2011-12                                 17.61                               12.04                               44.49                   NaN   2011-12
40  2008-09                                 17.80                               10.38                               38.15                   NaN   2008-09
41  2010-11                                 17.55                               11.45                               40.17                   NaN   2010-11
42  2012-13                                   NaN                                 NaN                               46.80                   NaN   2012-13
43  2013-14                                   NaN                                 NaN                               48.26                   NaN   2013-14

In [45]:
print(jobs.head())

  Fiscal Year  Public Sector Employees (million)  \
0  1970-71                                 11.10
1  1971-72                                 11.69
2  1972-73                                 12.40
3  1973-74                                 12.73
4  1974-75                                 13.13

   Private Sector Employees (million)  No. of Emp. on Live Reg. (million)  \
0                                6.73                                5.10
1                                6.96                                6.90
2                                6.72                                8.22
3                                6.75                                8.43
4                                6.79                                9.33

   Population (million) Prompts_Time
0                 541.0   1970-71
1                 554.0   1971-72
2                 567.0   1972-73
3                 580.0   1973-74
4                 593.0   1974-75

In [46]:
print(jobs.tail())

   Fiscal Year  Public Sector Employees (million)  \
39  2011-12                                 17.61
40  2008-09                                 17.80
41  2010-11                                 17.55
42  2012-13                                   NaN
43  2013-14                                   NaN

    Private Sector Employees (million)  No. of Emp. on Live Reg. (million)  \
39                               12.04                               44.49
40                               10.38                               38.15
41                               11.45                               40.17
42                                 NaN                               46.80
43                                 NaN                               48.26

    Population (million) Prompts_Time
39                   NaN   2011-12
40                   NaN   2008-09
41                   NaN   2010-11
42                   NaN   2012-13
43                   NaN   2013-14

In [42]:
print(jobs.fillna("No value"))

   Fiscal Year Public Sector Employees (million)  \
0   1970-71                                 11.1
1   1971-72                                11.69
2   1972-73                                 12.4
3   1973-74                                12.73
4   1974-75                                13.13
5   1975-76                                13.63
6   1976-77                                14.18
7   1977-78                                14.73
8   1978-79                                15.58
9   1979-80                                15.12
10  1980-81                                15.48
11  1981-82                                16.28
12  1982-83                                16.75
13  1983-84                                17.22
14  1984-85                                17.58
15  1985-86                                17.68
16  1986-87                                18.24
17  1987-88                                18.32
18  1988-89                                18.51
19  1989-90                                18.77
20  1990-91                                19.06
21  1991-92                                19.21
22  1992-93                                19.33
23  1993-94                                19.45
24  1994-95                                19.47
25  1995-96                                19.43
26  1996-97                                19.56
27  1997-98                                19.42
28  1998-99                                19.41
29  1999-00                                19.31
30  2000-01                                19.14
31  2001-02                                18.77
32  2002-03                                18.58
33  2003-04                                 18.2
34  2004-05                                18.01
35  2005-06                                18.19
36  2006-07                                   18
37  2007-08                                17.67
38  2009-10                                17.86
39  2011-12                                17.61
40  2008-09                                 17.8
41  2010-11                                17.55
42  2012-13                             No value
43  2013-14                             No value

   Private Sector Employees (million)  No. of Emp. on Live Reg. (million)  \
0                                6.73                                5.10
1                                6.96                                6.90
2                                6.72                                8.22
3                                6.75                                8.43
4                                6.79                                9.33
5                                6.79                                9.78
6                                6.95                               10.92
7                                7.11                               12.68
8                                7.23                               14.33
9                                7.24                               16.20
10                                7.4                               17.84
11                               7.53                               19.75
12                               7.39                               21.95
13                               7.36                               23.55
14                               7.43                               26.27
15                               7.37                               30.13
16                               7.39                               30.25
17                               7.39                               30.05
18                               7.45                               32.78
19                               7.58                               34.63
20                               7.68                               36.30
21                               7.85                               36.76
22                               7.85                               36.28
23                               7.93                               36.69
24                               8.06                               36.74
25                               8.51                               37.43
26                               8.69                               39.14
27                               8.75                               40.09
28                                8.7                               40.37
29                               8.65                               41.34
30                               8.65                               42.00
31                               8.43                               41.17
32                               8.42                               41.39
33                               8.25                               40.46
34                               8.45                               39.35
35                               8.77                               41.47
36                               9.24                               39.97
37                               9.88                               39.11
38                              10.85                               38.83
39                              12.04                               44.49
40                              10.38                               38.15
41                              11.45                               40.17
42                           No value                               46.80
43                           No value                               48.26

   Population (million) Prompts_Time
0                   541   1970-71
1                   554   1971-72
2                   567   1972-73
3                   580   1973-74
4                   593   1974-75
5                   607   1975-76
6                   620   1976-77
7                   634   1977-78
8                   648   1978-79
9                   664   1979-80
10                  679   1980-81
11                  692   1981-82
12                  708   1982-83
13                  723   1983-84
14                  739   1984-85
15                  755   1985-86
16                  771   1986-87
17                  788   1987-88
18                  805   1988-89
19                  822   1989-90
20                  839   1990-91
21                  856   1991-92
22                  872   1992-93
23                  892   1993-94
24                  910   1994-95
25                  928   1995-96
26                  946   1996-97
27                  964   1997-98
28                  983   1998-99
29                 1001   1999-00
30                 1019   2000-01
31                 1040   2001-02
32                 1056   2002-03
33                 1072   2003-04
34                 1106   2004-05
35                 1106   2005-06
36             No value   2006-07
37             No value   2007-08
38             No value   2009-10
39             No value   2011-12
40             No value   2008-09
41             No value   2010-11
42             No value   2012-13
43             No value   2013-14

In [1]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\admin\anaconda3\lib\site-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (1.18.5)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\admin\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in c:\users\admin\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)